{{#if authenticated}}

{{else}}

<div class="container text-center mt-4">
    <p class="text-danger fs-4 fw-bold">You Entered Wrong Credential</p>
    <p>Try Again</p>
</div>

{{/if}}


<form action="/login" method="POST" class="container w-50 mt-5">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" name="email" />
        <label class="form-label" for="form2Example1">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" name="password" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>



    <div class="w-100 d-flex">
        <button type="submit" class="btn btn-primary btn-block m-auto w-75 justify-content-center ">Login</button>

    </div>

    <div class="mt-5 text-center">
        <a href="/signup">Create A New Account</a>
    </div>

</form>